div.header {
	background-color: #2E3A62;
	padding-top: 25px;
	padding-bottom: 25px;
}

div.login-form {
	width: 250px;
}

a:link.footertext {
	color: white;

	font-family: Verdana;
	font-size: 15px;
}

td.socialicon {
	padding: 0px 5px 0px 5px;
}

#About {
	color: white;

	font-family: Verdana;
	font-size: 50px;
}

#title {
	color: white;
	font-family: Verdana;
	font-weight: bold;
	font-size: 50px;
	text-decoration: none;
}

#login {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: #566792;
	border: none;

	font-family: Verdana;
	font-weight: bold;
	text-decoration: none;
}